<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07gp"
        tools:targetApi="31">
        <activity
            android:name=".StudentTimelineTable2"
            android:exported="false"
            android:label ="Timeline display">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StuTakenCourseInfo"
            android:exported="false"
            android:label="Course Information Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentTimelineDisplay2"
            android:exported="false"
            android:label ="Timeline course selection">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminAddCourses"
            android:exported="false"
            android:label="Admin-Add Course Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Student_Add_TakenCourses"
            android:exported="false"
            android:label="Student-Add Course Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminEditDisplay"
            android:exported="false"
            android:label="Admin-Course Edit Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentActivity"
            android:exported="false"
            android:label="Student-Dashboard">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentTimelineDisplay"
            android:exported="false"
            android:label="Student-Course Planner Timeline Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminListDisplay"
            android:exported="false"
            android:label="Admin-Course List Dashboard">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StudentListDisplay"
            android:exported="false"
            android:label="Student-Taken Courses Dashboard">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="Admin-Dashboard">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:label="Sign-up Page">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Login Page"
            android:theme="@style/Theme.B07gp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>